//Anuphan font
@font-face {
  font-family: 'AnuphanRegular';
  src: url('../public/fonts/Anuphan-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AnuphanMedium';
  src: url('../public/fonts/Anuphan-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.default-font{
  font-family: 'AnuphanRegular', sans-serif;
}

.anuphan-medium-font{
  font-family: 'AnuphanMedium', sans-serif;
}

//Gotham font
@font-face {
  font-family: 'GothamRegular';
  src: url('../public/fonts/Gotham-Book.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBlack';
  src: url('../public/fonts/Gotham-Black.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamThin';
  src: url('../public/fonts/Gotham-Thin.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamBook';
  src: url('../public/fonts/Gotham-Book.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.gotham-font{
  font-family: 'GothamRegular', sans-serif;
}
.gotham-black{
  font-family: 'GothamRegular', sans-serif;
}
.gotham-thin{
  font-family: 'GothamThin', sans-serif;
}
.gotham-book{
  font-family: 'GothamBook', sans-serif;
}
//inter
@font-face {
  font-family: 'InterBold';
  src: url('../public/fonts/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.inter-bold-font{
  font-family: 'InterBold', sans-serif;
}