@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide scrollbar for WebKit browsers */
.hidden-scroll::-webkit-scrollbar {
  display: none;
}

.icon-footer {
  width: 128px;
  height: 90px;
}

.ticket-container {
  position: relative;
  overflow: hidden;
  border: 2px solid #f87171; /* Tailwind color: border-red-200 */
  background-color: #fef2f2; /* Tailwind color: bg-pink-100 */
  border-radius: 0.5rem; /* Tailwind class: rounded-lg */
  padding: 1rem; /* Tailwind class: p-4 */
  display: flex;
  align-items: center;
}

.wavy-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20px; /* Adjust width as needed */
  background: #f87171; /* Tailwind color: bg-red-200 */
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 100%,
    0 calc(100% - 10px),
    10px calc(100% - 20px),
    0 calc(100% - 30px),
    10px calc(100% - 40px),
    0 calc(100% - 50px),
    10px calc(100% - 60px),
    0 calc(100% - 70px),
    10px calc(100% - 80px),
    0 calc(100% - 90px),
    10px 100%,
    0 100%
  );
}

#cardSlider {
  --f-carousel-slide-width: 100%;
  --f-carousel-spacing: 0;
  --f-carousel-slide-padding: 0 1rem 0 0.5rem;

  --f-button-prev-pos: 5rem;
  --f-button-next-pos: 5rem;

  --f-button-bg: #e4e7eb;
  --f-button-color: white;

  --f-button-width: 30px;
  --f-button-height: 30px;
  --f-button-border-radius: 50%;

  --f-button-svg-width: 20px;
  --f-button-svg-height: 20px;
  --f-button-svg-stroke-width: 1.5;

  --f-button-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.f-carousel__slide {
  margin-right: 1rem !important;
}
@media screen and (min-width: 640px) {
  #cardSlider {
    --f-carousel-slide-width: calc(100% / 5);
  }
}

.carousel-button {
  background: none;
  border: none;
  cursor: pointer;
}

.carousel-button svg {
  fill: currentColor;
  width: 24px;
  height: 24px;
}

.carousel-button:focus {
  outline: none;
}

.cut {
  width: 5px;
  height: 7px;
  background-color: white;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  border: 1px solid #dd2c37;
  border-right: 0;
}

.cuts {
  position: absolute;
  right: -1px;
  top: 8px;
  width: fit-content;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.f-carousel__nav {
  top: -20% !important;
  position: absolute !important;
  left: 80px !important;
}
.is-next {
  left: 56rem !important;
}
.is-prev {
  left: 53rem !important;
}
.button-backend:hover {
  background-color: black !important;
}

.switch-backend button {
  background: rgba(0, 0, 0, 0.45);
}

.reward-modal .ant-picker {
  width: 100%;
}
.reward-card .ant-card-actions {
  background-color: #ffe8eb !important;
}
.redeem-card .ant-card-actions {
  background-color: #f5f5f5 !important;
}

.custom-input-number {
  .ant-input-number {
    border-radius: 0px;
    border: none;
  }
  .ant-input-number-input {
    text-align: center;
  }
  .ant-input-number-input-wrap {
    input {
      color: black;
    }
  }
}

.plus-icon .ant-btn-icon {
  border-left: 1px solid #7a8699;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.minus-icon .ant-btn-icon {
  padding-right: 0.5rem;
}

.redeem-tab .ant-tabs-nav::before {
  border-bottom: none;
}

.redeem-tab .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #dd2c37 !important;
}

.redeem-tab .ant-tabs-ink-bar {
  background-color: #dd2c37 !important;
}

/* Target the <span> that usually contains the text directly */
.redeem-tab .ant-tabs-tab-btn > span {
  color: #000; /* Default tab text color */
}

.redeem-tab .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn > span {
  color: #dd2c37 !important; /* Active tab text color */
}

.redeem-tab .ant-tabs-tab .ant-badge-count {
  /* Target all badges */
  background-color: #bcc2c9; /* Default badge background color (gray) */
  color: #000; /* Default badge text color (black) */
}

.redeem-tab .ant-tabs-tab.ant-tabs-tab-active .ant-badge-count {
  background-color: #ffe8eb !important; /* Active badge background */
  color: #dd2c37 !important; /* Active badge text color */
}

.product-modal {
  width: 50% !important;
}

.mx-0-important {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.promotion-card {
  :where(.css-dev-only-do-not-override-98ntnt).ant-card .ant-card-body {
    margin: 24px !important;
    padding: 0px !important;
  }
  // prod
  :where(.css-98ntnt).ant-card .ant-card-body {
    margin: 24px !important;
    padding: 0px !important;
  }
  .ant-card {
    width: 100% !important;
  }
}

.ant-table-thead tr {
  font-family: "AnuphanRegular", sans-serif;
}

.ant-pagination-prev,
.ant-pagination-next {
  border: 1px solid #a6aebb;
  padding: 8px 16px;
  display: flex !important;
  align-items: center;
  font-size: 14px;

  &:not([disabled]) {
    color: white;
    background-color: #c72832;
    border: 1px solid #c72832;
    &:hover {
      background-color: #f8d5d7;
      color: black;
    }
    a:hover {
      color: black;
    }
  }
}

.ant-pagination-disabled {
  background-color: white !important;
  color: #ccc !important;
  border-color: #ccc !important;
  cursor: not-allowed !important;
}

.ant-pagination-item {
  border-color: #0000000a !important;
  background-color: #0000000a !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.ant-pagination-item-active {
  border-color: #f8d5d7 !important;
  background-color: #f8d5d7 !important;
  a {
    color: black !important;
  }
}
.ant-menu-root {
  flex-basis: 33.333333%;
  background: none;
}

.rotate-icon {
  transition: transform 0.3s;
}

.rotate-icon:hover {
  .dropdown-icon {
    transform: rotate(180deg);
  }
}

.custom-dropdown-menu {
  width: 400px !important; /* Adjust the width as needed */
}

.custom-dropdown-menu .ant-dropdown-menu-item {
  white-space: normal; /* Allow text wrapping */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownToggle {
  background: none;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
}

.dropdownMenu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  min-width: 160px;
  color: black;
}

.dropdown:hover .dropdownMenu {
  display: block;
}

.menuItem {
  padding: 8px 16px;
  cursor: pointer;
  position: relative;
}

.menuItem:hover {
  background-color: #f1f1f1;
}

.subMenu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  z-index: 1;
}

.menuItem:hover > .subMenu {
  display: block;
}

.count-items {
  font-size: 14px !important;
  color: #bcc2c9 !important;
  font-weight: 400 !important;
  font-family: "GothamRegular", sans-serif !important;
}

.border-year {
  border-left: 1px dashed #bcc2c9;
}

.add-cart-form {
  padding-left: 0.5rem;
  .ant-input-number-disabled {
    background: none;
    width: 50%;
  }
  .ant-input-number-disabled:hover {
    background: none !important;
  }
  .ant-btn-icon {
    border-left: none;
  }

  .minus-icon-cart {
    padding-left: 0px !important;
  }

  .plus-icon-cart {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .minus-icon-cart:hover,
  .plus-icon-cart:hover {
    border-color: #dd2c37 !important;
  }
}

.ant-table-cell {
  vertical-align: middle; /* Default */
}

.ant-table-cell + :not(.force-bottom) {
  vertical-align: bottom !important;
}

.thead-white-table .ant-table-thead > tr > th {
  background-color: white !important;
}
.thead-white-table .ant-table-thead > tr > th::before {
  background-color: white !important;
}

.checkout-box {
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
}

.thead-white-table {
  .ant-table-row-selected {
    .ant-table-cell {
      background: #ffe8eb !important;
    }
  }
  :where(.css-dev-only-do-not-override-98ntnt).ant-checkbox-checked
    .ant-checkbox-inner {
    background-color: #a62129;
    border-color: #a62129;
  }
  :where(.css-dev-only-do-not-override-98ntnt).ant-checkbox-wrapper:not(
      .ant-checkbox-wrapper-disabled
    ):hover
    .ant-checkbox-inner,
  :where(.css-dev-only-do-not-override-98ntnt).ant-checkbox:not(
      .ant-checkbox-disabled
    ):hover
    .ant-checkbox-inner {
    border-color: #a62129;
  }
  :where(.css-dev-only-do-not-override-98ntnt).ant-checkbox-wrapper-checked:not(
      .ant-checkbox-wrapper-disabled
    ):hover
    .ant-checkbox-inner,
  :where(.css-dev-only-do-not-override-98ntnt).ant-checkbox-checked:not(
      .ant-checkbox-disabled
    ):hover
    .ant-checkbox-inner {
    background-color: #af8084 !important;
  }
  :where(.css-dev-only-do-not-override-98ntnt).ant-checkbox-indeterminate
    .ant-checkbox-inner:after {
    background-color: #a62129;
  }
  //prod
  :where(.css-98ntnt).ant-checkbox-checked
    .ant-checkbox-inner {
    background-color: #a62129;
    border-color: #a62129;
  }
  :where(.css-98ntnt).ant-checkbox-wrapper:not(
      .ant-checkbox-wrapper-disabled
    ):hover
    .ant-checkbox-inner,
  :where(.css-98ntnt).ant-checkbox:not(
      .ant-checkbox-disabled
    ):hover
    .ant-checkbox-inner {
    border-color: #a62129;
  }
  :where(.css-98ntnt).ant-checkbox-wrapper-checked:not(
      .ant-checkbox-wrapper-disabled
    ):hover
    .ant-checkbox-inner,
  :where(.css-98ntnt).ant-checkbox-checked:not(
      .ant-checkbox-disabled
    ):hover
    .ant-checkbox-inner {
    background-color: #af8084 !important;
  }
  :where(.css-98ntnt).ant-checkbox-indeterminate
    .ant-checkbox-inner:after {
    background-color: #a62129;
  }
}

.filter-tag {
  .ant-tag-close-icon {
    background-color: #a6aebb;
    padding: 2px;
    border-radius: 10px;
    color: white;
    margin-left: 8px;
  }
}

.dropdown-filter {
  .dropdownToggle {
    cursor: pointer;
  }

  .dropdownToggle svg {
    transition: transform 0.3s ease;
  }

  .dropdownToggle:hover svg {
    transform: rotate(180deg);
  }
}

.ant-input-search {
  input:hover {
    border-color: #ffe8eb;
  }
}

.sort-filter {
  .ant-select-show-arrow {
    width: 10% !important;
  }
}

.order-table {
  .ant-table-cell {
    color: #919faf !important;
  }
  th {
    background: white !important;
  }
  .ant-card-actions {
    border-top: 1px dashed #919faf;
  }
}

.ant-spin-dot {
  color: #dd2c37; /* Change this to your desired color */
}

.ant-spin-dot i {
  background-color: #dd2c37; /* Change this to your desired color */
}

.ant-image-error {
  height: 140px !important;
}

.show-album {
  .ant-modal-content {
    padding: 0;
  }
  .ant-modal-body {
    height: 300px;
  }
}
.anticon-right {
  display: none !important;
}
.anticon-left {
  display: none !important;
}

:where(.css-dev-only-do-not-override-98ntnt).ant-carousel .slick-next::after {
  margin-top: 5px;
  margin-left: 5px;
}

:where(.css-dev-only-do-not-override-98ntnt).ant-carousel .slick-prev::after {
  margin-top: 7px;
  margin-left: 10px;
}

//prod
:where(.css-98ntnt).ant-carousel .slick-next::after {
  margin-top: 5px;
  margin-left: 5px;
}

:where(.css-98ntnt).ant-carousel .slick-prev::after {
  margin-top: 7px;
  margin-left: 10px;
}

.slick-list {
  height: auto !important;
}

.slick-slide {
  width: 375px;
}

.slick-prev:before,
.slick-next:before {
  color: #3e3e3f !important;
}

.hoverley-img {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.hover-container:hover .image {
  opacity: 0.3;
}

.hover-container:hover .middle {
  opacity: 1;
}

.hover-text {
  background-color: #04aa6d;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.order-table {
  .ant-table-column-title {
    text-align: center;
  }
}

.media-radio {
  .ant-radio-group-solid
    :where(.css-98ntnt).ant-radio-button-wrapper-checked:not(
      .ant-radio-button-wrapper-disabled
    ) {
    margin-right: 1rem;
    border-radius: 8px;
    background: rgba(166, 33, 41, 1);
    color: white;
    border: none;
    font-weight: 600;
  }
  .ant-radio-group-solid
    :where(.css-98ntnt).ant-radio-button-wrapper-checked:not(
      .ant-radio-button-wrapper-disabled
    ):active {
    margin-right: 1rem;
    border-radius: 8px;
    background: rgba(166, 33, 41, 1);
    color: white;
    border: none;
    font-weight: 600;
  }
  .ant-radio-group-solid
    :where(
      .css-dev-only-do-not-override-98ntnt
    ).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    margin-right: 1rem;
    border-radius: 8px;
    background: rgba(166, 33, 41, 1);
    color: white;
    border: none;
    font-weight: 600;
  }
  :where(.css-dev-only-do-not-override-98ntnt).ant-radio-button-wrapper:hover {
    margin-right: 1rem;
    border-radius: 8px;
    background: rgba(166, 33, 41, 1);
    color: white;
    border: none;
    font-weight: 600;
    // color: #e37614;
  }

  :where(.css-dev-only-do-not-override-98ntnt)[class^="ant-radio"]
    [class^="ant-radio"],
  :where(.css-dev-only-do-not-override-98ntnt)[class*=" ant-radio"]
    [class^="ant-radio"],
  :where(.css-dev-only-do-not-override-98ntnt)[class^="ant-radio"]
    [class*=" ant-radio"],
  :where(.css-dev-only-do-not-override-98ntnt)[class*=" ant-radio"]
    [class*=" ant-radio"],
  :where(.css-98ntnt).ant-radio-button-wrapper:first-child,
  :where(.css-98ntnt).ant-radio-button-wrapper:first-child,
  :where(.css-98ntnt).ant-radio-button-wrapper:hover,
  :where(.css-98ntnt)[class^="ant-radio"] [class^="ant-radio"],
  :where(.css-98ntnt)[class*=" ant-radio"] [class^="ant-radio"],
  :where(.css-98ntnt)[class^="ant-radio"] [class*=" ant-radio"],
  :where(.css-98ntnt)[class*=" ant-radio"] [class*=" ant-radio"] {
    margin-right: 1rem;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.08);
    color: rgba(118, 118, 118, 1);
    border: none;
    font-weight: 600;
  }
  :where(
      .css-dev-only-do-not-override-98ntnt
    ).ant-radio-button-wrapper-checked:not(
      .ant-radio-button-wrapper-disabled
    )::before {
    background: none;
  }
  :where(.css-dev-only-do-not-override-98ntnt).ant-radio-button-wrapper:not(
      :first-child
    )::before {
    background: none;
  }
  //prod
  .ant-radio-group-solid
    :where(
      .css-98ntnt
    ).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    margin-right: 1rem;
    border-radius: 8px;
    background: rgba(166, 33, 41, 1);
    color: white;
    border: none;
    font-weight: 600;
  }
  :where(.css-98ntnt).ant-radio-button-wrapper:hover {
    margin-right: 1rem;
    border-radius: 8px;
    background: rgba(166, 33, 41, 1);
    color: white;
    border: none;
    font-weight: 600;
    // color: #e37614;
  }

  :where(.css-98ntnt)[class^="ant-radio"]
    [class^="ant-radio"],
  :where(.css-98ntnt)[class*=" ant-radio"]
    [class^="ant-radio"],
  :where(.css-98ntnt)[class^="ant-radio"]
    [class*=" ant-radio"],
  :where(.css-98ntnt)[class*=" ant-radio"]
    [class*=" ant-radio"],
  :where(.css-98ntnt).ant-radio-button-wrapper:first-child,
  :where(.css-98ntnt).ant-radio-button-wrapper:first-child,
  :where(.css-98ntnt).ant-radio-button-wrapper:hover,
  :where(.css-98ntnt)[class^="ant-radio"] [class^="ant-radio"],
  :where(.css-98ntnt)[class*=" ant-radio"] [class^="ant-radio"],
  :where(.css-98ntnt)[class^="ant-radio"] [class*=" ant-radio"],
  :where(.css-98ntnt)[class*=" ant-radio"] [class*=" ant-radio"] {
    margin-right: 1rem;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.08);
    color: rgba(118, 118, 118, 1);
    border: none;
    font-weight: 600;
  }
  :where(
      .css-98ntnt
    ).ant-radio-button-wrapper-checked:not(
      .ant-radio-button-wrapper-disabled
    )::before {
    background: none;
  }
  :where(.css-98ntnt).ant-radio-button-wrapper:not(
      :first-child
    )::before {
    background: none;
  }
  :where(.css-98ntnt).ant-radio-button-wrapper-checked:not(
      .ant-radio-button-wrapper-disabled
    ):active::before,
  :where(.css-98ntnt).ant-radio-button-wrapper:not(:first-child)::before {
    background: none;
  }
}

.media-container {
  .ant-image {
    display: flex !important;
  }
  .ant-modal-content {
    padding: 0 !important;
    border-radius: 2rem !important;
  }
}

.Toastify__progress-bar {
  font-family: "AnuphanRegular", sans-serif;
}
.col-custom {
  .ant-form-item {
    margin-bottom: 0px;
  }
}

.level-items1 {
  clip-path: polygon(0px 0px, 100% 0px, 80% 100%, 0px 100%);
  margin-right: -26px;
  width: 133px;
}
.level-items2 {
  clip-path: polygon(20% 0px, 100% 0px, 100% 100%, 0px 100%);
  width: 133px;
}
.promotion-slide {
  :where(.css-dev-only-do-not-override-98ntnt).ant-carousel
    .slick-dots
    li
    button {
    background: #d9d9d9;
    margin-top: -3rem;
  }
  :where(.css-dev-only-do-not-override-98ntnt).ant-carousel
    .slick-dots
    li.slick-active
    button {
    background: #dd2c37;
    margin-top: -3rem;
  }

  //prod
  :where(.css-98ntnt).ant-carousel
    .slick-dots
    li
    button {
    background: #d9d9d9;
    margin-top: -3rem;
  }
  :where(.css-98ntnt).ant-carousel
    .slick-dots
    li.slick-active
    button {
    background: #dd2c37;
    margin-top: -3rem;
  }
  .ant-image-mask {
    border-radius: 1rem;
  }
}

.chart-filter {
  button:first-child {
    border-top-left-radius: 8px !important;
  }
  button:last-child {
    border-top-right-radius: 8px !important;
  }
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    background-color: #ffe8eb;
    border-color: #ffe8eb;
    color: #dd2c37;
  }
  :where(.css-dev-only-do-not-override-98ntnt).ant-btn-default:not(
      :disabled
    ):not(.ant-btn-disabled):hover {
    color: #dd2c37;
    border-color: #ffe8eb;
    background: #ffe8eb;
  }
  // prod
  :where(.css-98ntnt).ant-btn-default:not(
    :disabled
  ):not(.ant-btn-disabled):hover {
  color: #dd2c37;
  border-color: #ffe8eb;
  background: #ffe8eb;
}
  /* For WebKit browsers (Chrome, Safari, Edge) */
  .dropdown-filter .ant-dropdown-menu::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }

  .dropdown-filter .ant-dropdown-menu::-webkit-scrollbar-track {
    background: #ffe8eb; /* Background of the scrollbar track */
  }

  .dropdown-filter .ant-dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar */
    border-radius: 10px; /* Roundness of the scrollbar thumb */
    border: 2px solid #ffe8eb; /* Optional: adds a border around the scrollbar thumb */
  }

  .dropdown-filter .ant-dropdown-menu::-webkit-scrollbar-thumb:hover {
    background: #555; /* Change color on hover */
  }

  /* For Firefox */
  .dropdown-filter .ant-dropdown-menu {
    scrollbar-width: thin; /* Makes the scrollbar thinner */
    scrollbar-color: #888 #ffe8eb; /* Thumb color and track color */
  }
}

.dropdown-filter {
  :where(.css-dev-only-do-not-override-98ntnt).ant-checkbox-wrapper:not(
      .ant-checkbox-wrapper-disabled
    ):hover
    .ant-checkbox-inner,
  :where(.css-dev-only-do-not-override-98ntnt).ant-checkbox:not(
      .ant-checkbox-disabled
    ):hover
    .ant-checkbox-inner {
    border-color: #dd2c37;
  }
  :where(.css-dev-only-do-not-override-98ntnt).ant-checkbox-checked
    .ant-checkbox-inner {
    background-color: #dd2c37;
    border-color: #dd2c37;
  }

  :where(.css-dev-only-do-not-override-98ntnt).ant-checkbox-wrapper:not(
      .ant-checkbox-wrapper-disabled
    ):hover
    .ant-checkbox-checked:not(.ant-checkbox-disabled)
    .ant-checkbox-inner {
    background-color: #ffe8eb;
    border-color: transparent;
  }
  :where(.css-dev-only-do-not-override-98ntnt).ant-checkbox-wrapper {
    gap: 4px;
    padding-bottom: 16px;
    font-family: 'GothamRegular', sans-serif;
    font-weight: 500;
  }
  //prod
  :where(.css-98ntnt).ant-checkbox-wrapper:not(
      .ant-checkbox-wrapper-disabled
    ):hover
    .ant-checkbox-inner,
  :where(.css-98ntnt).ant-checkbox:not(
      .ant-checkbox-disabled
    ):hover
    .ant-checkbox-inner {
    border-color: #dd2c37;
  }
  :where(.css-98ntnt).ant-checkbox-checked
    .ant-checkbox-inner {
    background-color: #dd2c37;
    border-color: #dd2c37;
  }

  :where(.css-98ntnt).ant-checkbox-wrapper:not(
      .ant-checkbox-wrapper-disabled
    ):hover
    .ant-checkbox-checked:not(.ant-checkbox-disabled)
    .ant-checkbox-inner {
    background-color: #ffe8eb;
    border-color: transparent;
  }
  :where(.css-98ntnt).ant-checkbox-wrapper {
    gap: 4px;
    padding-bottom: 16px;
    font-family: 'GothamRegular', sans-serif;
    font-weight: 500;
  }
  .ant-checkbox-checked + span {
    color: #dd2c37;
  }
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #E8727A!important; /* Scrollbar thumb color */
  border-radius: 10px!important; /* Round the scrollbar */
}

::-webkit-scrollbar-track {
  border-radius: 10px!important; /* Optional: Round the track for aesthetic */
}

.custom-filter{
  .ant-tag-close-icon{
    height: fit-content;
  }
}
.nav-product {
  a:hover {
    color: white!important;
  }
}

.custom-table {
  .ant-table-cell + :not(.force-bottom) {
    vertical-align: top !important;
    // padding: 0px;
  }
  .ant-table-cell {
    vertical-align: top !important;
  }
  .ant-table-row {
    td:nth-child(4), td:nth-child(5), td:nth-child(6), td:nth-child(7), td:nth-child(8) {
      padding: 0px;
    }
  }
 
}

.custom-input-cart {
  // width: 50%!important;
  :where(.css-dev-only-do-not-override-98ntnt).ant-input-number-outlined:focus, :where(.css-dev-only-do-not-override-98ntnt).ant-input-number-outlined:focus-within {
    border-color: white;
    box-shadow: none;
    outline: 0;
    background-color: white;
  }
  //prod
  :where(.css-98ntnt).ant-input-number-outlined:focus, :where(.css-dev-only-do-not-override-98ntnt).ant-input-number-outlined:focus-within {
    border-color: white;
    box-shadow: none;
    outline: 0;
    background-color: white;
  }
  .ant-input-number {
    width: 50%;
  }
}

#claim_form {
  .disable-input {
    padding-left: 0px!important; 
    padding-right: 0px!important;
  }
  .disable-label {
    align-content: center;
  }

  .claim_form {
    label {
      font-family: 'AnuphanRegular', sans-serif;
      color: #919FAF
    }
  }
  .ant-radio-group-solid :where(.css-dev-only-do-not-override-98ntnt).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active {
    color: #fff;
    background: #0C8CE9;
    border-color: #0C8CE9;
  }

.ant-radio-group-solid :where(.css-dev-only-do-not-override-98ntnt).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: #fff;
  background: #0C8CE9;
  border-color: #0C8CE9;
}
:where(.css-dev-only-do-not-override-98ntnt).ant-radio-button-wrapper {
  background: #ECF6FE;
  border: 1px solid #ECF6FE;
  color: #0C8CE9;
}


  //prod
  .ant-radio-group-solid :where(.css-98ntnt).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active {
    color: #fff;
    background: #0C8CE9;
    border-color: #0C8CE9;
  }

.ant-radio-group-solid :where(.css-98ntnt).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: #fff;
  background: #0C8CE9;
  border-color: #0C8CE9;
}
:where(.css-98ntnt).ant-radio-button-wrapper {
  background: #ECF6FE;
  border: 1px solid #ECF6FE;
  color: #0C8CE9;
}


}
.hr-spacing {
  border: none;
  height: 1px;
  background: #919FAF;
  background: repeating-linear-gradient(90deg, #919FAF, #919FAF 6px, transparent 6px, transparent 12px);
}

.file-box {
  box-sizing: border-box;
  display: flex;
  align-items: baseline;
  background: #FFFFFF;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: 12px;

}