:where(.css-dev-only-do-not-override-98ntnt).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  color: #fff;
  background: #d72f43b3;
}
:where(.css-98ntnt).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  color: #fff;
  background: #d72f43b3;
}